html{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
div#menu p.no_margin{
  margin: 0px;
}
#map_canvas{
  float:left;
  width:100%;
  height:100%;
}
#directionsPanel{
  float:right;
  width:30%;
  height: 100%;
}
#directions{
  height: 24px;
  margin: 0px;
  padding: 0px;
}
.the_car{
  visibility: visible !important;
}
.bold_this{
  font-weight: bold;
}
#menu{
  background: white;
  box-sizing: border-box;
  padding:20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  height: 454px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 230px;
  z-index:200;
}
#menu input{
  width: 190px;
}
#account_num{
  font-size: .9em;
}
#menu #xfin_square{
  float: left;
  width: 60px;
  height: 60px;
  margin: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.20);
}
#driver_info{
  float: left;
}
#menu p{
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: .9em;
}
div#address{
  float: left;
  margin-top: 20px;
  font-size: .9em;
  width: 160px;
}
#xfin_home{
  float: left;
  margin: 20px auto;
  width: 30px;
}
div#address p{
  margin: 0;
}
p#small_text{
  font-size: .7em;
}
p #driver_name{
  font-size: 1.3em;
  font-weight: bold;
}
#update_time{
  font-weight: bold;
}
img {
  width: 95%;
}

tr {
  margin: : 20px;
}