html{
  height:100%;
}
body{
  height:100%;
  margin:0px;
  font-family: Helvetica,Arial;
}

.menu{
  background: white;
  box-sizing: border-box; padding:20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  height: 454px;
  left: 10px;
  position: absolute;
  top: 50px;
  width: 230px;
  z-index:200;
}
#driver {
  width: 85px;
}

img {
  width: 95%;
}

tr {
  margin: : 20px;
}
